/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */

body{
    background: black;

    #page{
     margin: 0 auto;
     max-width: 1080px;
     padding: 2.5%;
     width: 100%;
    }
}
